.container {
    margin: 50px
    
}
ul {
    list-style: none;
    display: flex;
    padding: 0;
}

ul li {
    margin-right: 15px;
    font-size: large;
}

a{
    color: gray; 
    text-decoration: none;
}
.card-group {
    display: flex;
    justify-content: space-between;
}

.active {
color: green;
}

.no-active{
color: gray;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #cecece;
    padding: 30px;
    height: 300px;
    width: 174px;
    border-radius: 8px;
}

.imagem {
    height: 130px;
    width: 180px;
    
}

.titulo {
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}

.preco {
    text-align: center;
    font-weight: 900;
    font-size: 20px;
}

button {
    border: 2px solid #cecece;
    border-radius: 3px;
    padding: 8px;
    color: white;
    background-color: rgb(43, 111, 21);
}