@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Belanosima&family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Open+Sans:wght@400;700&family=Poppins:wght@400;500&family=Righteous&family=Roboto:wght@300&family=Sarala&family=Ysabeau+SC:wght@300&display=swap');

* {
    background-color: #e9e6e6;
}

.container {
   margin: 80px 100px;    
}


ul {
    list-style: none;
}

ul li {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: normal;
    font-family:  'Montserrat', sans-serif;;
}

a{
    color: rgb(123, 122, 122); 
    text-decoration: none;
    text-align: left;
    margin-left: 10px;
}

.card-group {
    display: flex;
    justify-content: space-around;
}

.active {
color: #31493c;
}

.no-active{
color: rgb(123, 122, 122);
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
    border: 2px solid #cecece;
    border-radius: 8px;
    padding: 30px;
    height: 400px;
    width: 350px;
}

.imagem {
    height: 210px;
    width: 250px;
}

.titulo {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
}

.preco {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: white;
}

button {
    border: 2px solid #cecece;
    border-radius: 5px;
    padding: 12px;
    color: white;
    background-color: #31493c;
    width: 11rem;
    font-size: 15px;
}

.item {
    padding: 2rem ;
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

.quant-group {
    border: 1px solid #cecece;
    display: flex;
    align-items: center;
}   

.btn-quant, .valor-quant {
    border: none;
    padding: 10px;
    height: .5rem;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: .9rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    padding: 0.8rem;
}

.btn-quant {
    background: none;
    cursor: pointer;
}

.imgTrash-cart {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.text-cart,.valor-total, .price-cart, .img-cart {
    width: 6rem;

}
